# Unit 6. 변수와 입력

## 6.1 변수
-영문 문자와 숫자를 사용할 수 있습니다.

-대소문자를 구분합니다.

-문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.

-_(밑줄 문자)로 시작할 수 있습니다.

-특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.

-파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [18]:
x = 10
x

10

In [30]:
s = 'Hello, world'
s

'Hello, world'

In [20]:
type(x), type(s)

(int, str)

In [21]:
x, y, z = 10, 20, 30
x, y, z

(10, 20, 30)

In [22]:
x = y = z = 10
x, y, z

(10, 10, 10)

In [23]:
del z  # 변수 z 삭제
print(z)

NameError: ignored

In [ ]:
# Null
x = None
print(x)

## 6.2 변수로 계산

In [ ]:
a = 10
a = a + 10
a

In [ ]:
a = 10
a += 10   # a = a + 10
a

In [ ]:
sum, prod = 0, 1
for i in range(1,11):
  sum += i
  prod *= i

sum, prod

In [ ]:
d = d + 10 # 에러, 초기값 할당

In [ ]:
-prod

## 6.3 입력(input)

In [ ]:
x = input()

In [ ]:
x

In [24]:
x = input('1에서 10사이의 정수값> ')

1에서 10까지의 정수값> 5

In [25]:
# 입력한 두 정수의 합
a = input('첫번째 정수> ')
b = input('두번째 정수> ')
a+b

첫번째 정수> 5
두번째 정수> 1

'51'

In [26]:
type(a)

str

In [27]:
a = input('첫번째 정수> ')
b = input('두번째 정수> ')
int(a) + int(b)

첫번째 정수> 5
두번째 정수> 1

6

In [28]:
a = int(input('첫번째 정수> '))
b = int(input('두번째 정수> '))
a+b

첫번째 정수> 5
두번째 정수> 1

6

In [32]:
s.split()

['Hello,', 'world']

In [33]:
a,b = s.split()
a, b

('Hello,', 'world')

In [34]:
a, b, c = 'A quick brown'.split()
a, b, c

('A', 'quick', 'brown')

In [35]:
a, b = input('정수 두개 입력> ').split()

정수 두개 입력> 10 20

In [36]:
a = int(a)
b = int(b)
a + b

30

In [37]:
a, b = input('정수 두개 입력, comma로 구분하세요.> ').split(',')

정수 두개 입력, comma로 구분하세요.> 10,20

In [38]:
a = int(a)
b = int(b)
a + b

30

### map
- 리스트 각 엘리먼트에 지정한 함수를 적용

In [40]:
a, b = map(int, [10.2, 11.4])
a, b

(10, 11)

In [41]:
a, b = map(int, input('정수 두개 입력> ').split())
a + b

정수 두개 입력> 10 20

30

In [42]:
import math
a, b = map(math.sqrt, [1,4])
a, b

(1.0, 2.0)