# 문제1
a + b + c = 1000 (a < b < c)
a*a + b*b = c*c 인 피타고라스 수는?

In [ ]:
for a in range(1,997):
  for b in range(a+1,998):
    for c in range(b+1,999):
      if a+b+c == 1000 and a*a+b*b==c*c and a<b<c:
        print(a,b,c)

200 375 425

In [ ]:
# 강사님
for a in range(1,333):
  c = 1000 - a - b
  if c*c == a*a + b*b:
    print(a,b,c)

In [ ]:
[(a,b,c) for a in range(1,333)
            for b in range(a+1, 500)
                for c in range(b+1, 1000)
                if a+b+c== 1000 and a*a + b*b == c*c]

# 문제2
본인의 생일을 1998 12 15과 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [17]:
from datetime import date
today = date.today()
today.year, today.month, today.day

(2021, 8, 1)

In [19]:
# 생일이 지난 경우 and 날짜가 같을경우. 년도끼리 뺄셈
# 생일이 지나지 않았을 경우, 년도끼리 뺄셈 후 -1
y, m, d = map(int, input().split())
age = 0
if today.month == m and today.day == d:
  age = today.year - y
elif today.month > m:
  age = today.year - y
elif today.month == m:
  if today.day > d:
    age = today.year - y
  elif today.day < d:
    age = today.year - y -1
else:
  age = today.year - y -1
print(age)

1984 06 28
37

In [21]:
# 강사님
year, month, day = map(int, input('생일 입력').split())
year, month, day
if month > today.month:
    age = today.year - year - 1
elif month < today.month:
    age = today.year - year
else:
    if day > today.day:
        age = today.year - year - 1
    else:
        age = today.year - year
print(f'만 나이는 {age} 입니다.')

생일 입력1984 06 28
만 나이는 37 입니다.

# 문제3
디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second)일까요?

디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨.

In [ ]:
hc = 0
mc = 0
for h in range(0, 23):
  


  for m in range(0, 59):

In [ ]:
# 강사님
total_seconds = 0
for hour in range(24):
  for min in range(60):
    time = str(hour) + str(min)  #f'{hour:02d}:{min:02d}'
    if '3' in time:
      total_seconds += 60
print(total_seconds)

# Unit 15. 심사문제

표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.
- 어린이(초등학생, 만 7세 이상 12세 이하): 650원
- 청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
- 어른(일반, 만 19세 이상): 1,250원

In [ ]:
age = int(input())
balance = 9000    # 교통카드 잔액
if 7 <= age <= 12:
  balance -= 650
elif 13 <= age <= 18:
  balance -= 1050
elif 19 <= age:
  balance -= 1250
print(balance)

12
8350

# Unit 16. 심사문제
표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.

In [ ]:
a = int(input())
for i in range(1,10):
  print(f'{a} * {i} = {a*i}')

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [ ]:
#강사님
n = int(input())
for i in range(1,10):
  print(f'{n} * {i} = {n*i}')

#Unit 17. 심사문제
표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [3]:
a = int(input())
while a >= 1350:
  a -= 1350
  print(a)

13500
12150 1
10800 2
9450 3
8100 4
6750 5
5400 6
4050 7
2700 8
1350 9
0 10

In [ ]:
# 강사님
balance = int(input())
fare = 1350
while balance-fare >= 0:
  balance -= fare
  print(balance)

In [5]:
#객체지향

class Tmoney:
  def __init__(self, balance):
    self.balance = balance

  def pay(self, fare):
    if self.balance > fare:
      self.balance -= fare
      print(f'님의 잔액은 {self.balance}원 입니다.')
    else:
      print('지불 불가')

In [6]:
balance = int(input())
fare = 1350
card = Tmoney(balance)

while True:
  if card.balance <= fare:
    break
  card.pay(fare)

13500
님의 잔액은 12150원 입니다.
님의 잔액은 10800원 입니다.
님의 잔액은 9450원 입니다.
님의 잔액은 8100원 입니다.
님의 잔액은 6750원 입니다.
님의 잔액은 5400원 입니다.
님의 잔액은 4050원 입니다.
님의 잔액은 2700원 입니다.
님의 잔액은 1350원 입니다.

# Unit 18. 심사문제
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1-200, 두 번째 입력 값의 범위는 10-200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [12]:
start, stop = map(int, input().split())
i = start
while True:
  if i > stop:
    break
  if i % 10 == 3:
    i += 1
    continue
  print(i, end=' ')
  i += 1

21 33
21 22 24 25 26 27 28 29 30 31 32

In [14]:
# 강사님
x, y = list(map(int, input().split()))
while True:
  if x>y:
    break
  if x % 10 == 3:
    x += 1
    continue
  print(x, end = ' ')
  x += 1

21 33
21 22 24 25 26 27 28 29 30 31 32

#Unit 19. 심사문제
표준 입력으로 삼각형의 높이가 입력됩니다. 입력된 높이만큼 산 모양으로 별을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 출력 결과는 예제와 정확히 일치해야 합니다. 모양이 같더라도 공백이나 빈 줄이 더 들어가면 틀린 것으로 처리됩니다.

In [16]:
a = int(input())
for i in range(a):
  for _ in range(a-1-i):
    print(' ', end='')
  for _ in range(2*i+1):
    print('*', end='')
  print()

5
    *
   ***
  *****
 *******
*********

In [ ]:
# u22
a,b = map(int, input().split())
square = [2 ** i for i in range(a, b+1)]
del square[-2]
del square[1]
square