# Unit 22. 심사문제
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1-20, 두 번째 입력 값의 범위는 10-30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [ ]:
a, b = map(int, input().split())
x = [2**i for i in range(a, b+1)]
x.pop(1)
x.pop(-2)
print(x)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

In [1]:
#강사님
a, b = map(int, input().split())
square = [2 ** i for i in range(a, b+1)]
del square[-2]
del square[1]
square

10 20

[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

# Unit 23. 심사문제
표준 입력으로 2차원 리스트의 가로(col)와 세로(row)가 입력되고 그 다음 줄부터 리스트의 요소로 들어갈 문자가 입력됩니다. 이때 2차원 리스트 안에서 *는 지뢰이고 .은 지뢰가 아닙니다. 지뢰가 아닌 요소에는 인접한 지뢰의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

여러 줄을 입력 받으려면 다음과 같이 for 반복문에서 input을 호출한 뒤 append로 각 줄을 추가하면 됩니다(list 안에 문자열을 넣으면 문자열이 문자 리스트로 변환됩니다).

In [ ]:
row, col = map(int, input().split())
matrix = []
for i in range(row):
    matrix.append(list(input()))
print()
for i in range(row):
    for k in range(col):
        cnt = 0
        if matrix[i][k] == '.':
            for y in range(i-1, i+2):
                for x in range(k-1, k+2):
                    if not (y < 0 or x < 0 or y >= row or x >= col):
                        if matrix[y][x] == '*':
                            cnt += 1
            matrix[i][k] = cnt
            print(matrix[i][k], end='')
        else:
            print(matrix[i][k], end='')
    print()

3 3
.**
*..
.*.

2**
*43
2*1

In [1]:
#강사님
import random
mines = []
N = 9
for _ in range(N):
    row = ''
    for _ in range(N):
        if random.random() > 0.6:
            row += '*'
        else:
            row += '.'
    mines.append(row)

In [2]:
#강사님
mines = [['*' if random.random()>0.6 else '.' for _ in range(N)] for _ in range(N)]
for i in range(len(mines)):
    for k in range(len(mines)):
        print(mines[i][k], end=' ')
    print()

. . . . * * . . .
* * . * . . * * *
. . . * * . * * .
* . . . * . * . .
. . . * * . * * .
. . * * . * * . .
. . . * * . * . .
. . . * . * * . *
. . * . * * * . .

In [3]:
#강사님_함수로
def print_mines(mat):
    for i in range(len(mat)):
        for k in range(len(mat)):
            print(mat[i][k], end=' ')
        print()

print_mines(mines)

. . . . * * . . .
* * . * . . * * *
. . . * * . * * .
* . . . * . * . .
. . . * * . * * .
. . * * . * * . .
. . . * * . * . .
. . . * . * * . *
. . * . * * * . .

In [4]:
pad_mines = []
pad_mines.append('.' * (N+2))
for i in range(N):
    row = '.'
    for k in range(N):
        row += mines[i][k]
    row += '.'
    pad_mines.append(row)
pad_mines.append('.' * (N+2))

print_mines(pad_mines)

. . . . . . . . . . .
. . . . . * * . . . .
. * * . * . . * * * .
. . . . * * . * * . .
. * . . . * . * . . .
. . . . * * . * * . .
. . . * * . * * . . .
. . . . * * . * . . .
. . . . * . * * . * .
. . . * . * * * . . .
. . . . . . . . . . .

In [5]:
final_mines = []
for i in range(1, N+1):
    row = ''
    for k in range(1, N+1):
        if pad_mines[i][k] == '*':
            row += '*'
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + \
                    (pad_mines[i-1][k+1]=='*') + (pad_mines[i][k-1]=='*') + \
                    (pad_mines[i][k+1]=='*') + (pad_mines[i+1][k-1]=='*') + \
                    (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            row += str(count)
    final_mines.append(row)

print_mines(final_mines)

2 2 2 2 * * 3 3 2
* * 3 * 5 5 * * *
3 3 3 * * 5 * * 3
* 1 2 5 * 6 * 5 2
1 2 3 * * 6 * * 1
0 1 * * 6 * * 4 1
0 1 4 * * 6 * 4 1
0 1 3 * 6 * * 4 *
0 1 * 3 * * * 3 1

#Unit 24. 심사문제1
표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

In [ ]:
f = input().split(' ')
cnt = 0
for i in f:
  if i.strip(',.') == 'the':
    cnt += 1
print(cnt)

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

In [7]:
#강사님
text = """
the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, 
whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, 
and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career 
as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. 
Grown-ups never understand anything by themselves, and it is tiresome for children to be always and 
forever explaining things to the.
"""
text.count('the')

8

In [8]:
#강사님
import re
text = re.sub('[\'-.,\n]', '', text)
text

'the grownups response this time was to advise me to lay aside my drawings of boa constrictors whether from the inside or the outside and devote myself instead to geography history arithmetic and grammar That is why at the age of six I gave up what might have been a magnificent career as a painter I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two Grownups never understand anything by themselves and it is tiresome for children to be always and forever explaining things to the'

In [9]:
text = re.sub('[^A-Za-z ]', '', text)
text

'the grownups response this time was to advise me to lay aside my drawings of boa constrictors whether from the inside or the outside and devote myself instead to geography history arithmetic and grammar That is why at the age of six I gave up what might have been a magnificent career as a painter I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two Grownups never understand anything by themselves and it is tiresome for children to be always and forever explaining things to the'

In [10]:
text_list = text.lower().strip().split()
count = 0
for word in text_list:
    if word == 'the':
        count += 1
count

6

#Unit 24. 심사문제2
표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [ ]:
price = map(int, input().split(';'))
prices = []
for i in price:
  prices.append(i)
prices.sort(reverse=True)
for k in prices:
  print('{0:>9,}'.format(k))

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

In [11]:
#강사님
input_str = '51900;83000;158000;367500;250000;59200;128500;1304000'
price_list = list(map(int, input_str.split(';')))
price_list

[51900, 83000, 158000, 367500, 250000, 59200, 128500, 1304000]

In [12]:
price_list.sort(reverse=True)
price_list

[1304000, 367500, 250000, 158000, 128500, 83000, 59200, 51900]

In [13]:
for price in price_list:
    print(f'{price:9,d}')

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

#Unit 25. 심사문제
표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다. 다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

In [ ]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))
x = {key: value for key, value in x.items() if key != 'delta' and value !=30}

print(x)

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

In [14]:
#강사님
# alpha bravo charlie delta
# 10 20 30 40
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys, values))
x

alpha bravo charlie delta
10 20 30 40

{'alpha': 10, 'bravo': 20, 'charlie': 30, 'delta': 40}

In [15]:
del x['delta']
x

{'alpha': 10, 'bravo': 20, 'charlie': 30}

In [16]:
for key, value in x.items():
    if value==30:
        break

x.pop(key)      # del x[key]
x

{'alpha': 10, 'bravo': 20}

#Unit 26. 심사문제
표준 입력으로 양의 정수 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요. 단, 최종 결과는 공약수의 합으로 판단합니다.

In [ ]:
x, y = map(int, input().split())

a = {i for i in range(1, x+1) if x % i == 0}
b = {i for i in range(1, y+1) if y % i == 0}

divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

100 200
217

In [17]:
#강사님
div_list = []
x = 10
for i in range(1,x+1):
    if x % i == 0:
        div_list.append(i)
set(div_list)

{1, 2, 5, 10}

In [18]:
x, y = map(int, input().split())
a = set(i for i in range(1,x+1) if x%i == 0)
b = set(i for i in range(1,y+1) if y%i == 0)
print(a, b)
divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

10 20
{1, 2, 10, 5} {1, 2, 4, 5, 10, 20}
18