# Unit 14. else

In [2]:
x = 5
if x == 10:
  print('It is 10.')
else:
  print('It is not 10.')

It is not 10.

### 3항 연산자
- Java: a = (조건)? 참일때의 값 : 거짓일때의 값
- 파이썬: a = 참일떄의 값 if조건 else 거짓일떄의 값

In [3]:
x = 1
if x % 2 == 0:
  y = 'even'
else:
  y = 'odd'
y

'odd'

In [4]:
y = 'even' if x%2 == 0 else 'odd'
y

'odd'

In [9]:
# 90점 이상이면 'A', 80 ~ 89: B, 70~79: C, 60~69: D, ~59: F
score = int(input('점수 입력> '))
grade = 'A'
if score >= 90:
  grade = 'A'
if 80 <= score < 90:
  grade = 'B'
if 70 <= score < 80:
  grade = 'C'
if 60 <= score < 70:
  grade = 'D'
else:
  grade = 'F'
print(grade)

점수 입력> 65
D

In [11]:
score = int(input('점수 입력> '))
grade = 'A'
if score >= 90:
  grade = 'A'
else:
  if score >= 80:
    grade = 'B'
  else:
    if score >= 70:
      grade = 'C'
    else:
      if score >=60:
        grade = 'D'
      else:
        grade = 'F'
print(grade)

점수 입력> 77
C

In [13]:
score = int(input('점수 입력> '))
grade = 'A' if score >= 90 else \
          'B' if score >= 80 else \
            'C' if score >= 70 else \
              'D' if score >=60 else 'F'
grade

점수 입력> 88

'B'

In [14]:
x = 5
if x > 0 and x < 10:
  print('10보다 작은 양의 정수입니다.')

10보다 작은 양의 정수입니다.

In [15]:
if 0 < x < 10:
  print('10보다 작은 양의 정수입니다.')

10보다 작은 양의 정수입니다.