#Unit 31. 재귀호출(Recursive Call)

### factorial 함수를 재귀호출로 구현

In [1]:
def factorial(n):
  if n == 0:    # n ==1:
    return 1
  return n*factorial(n-1)

In [2]:
factorial(5)

120

### fibonacci 수열
- f(n) = f(n-1) + f(n-2), n == 3 일 때,
- f(1) = 1, f(2) = 1

In [6]:
def fibo(n):
  if n == 1 or n ==2:
    return 1
  return fibo(n-1) + fibo(n-2)

In [8]:
[fibo(i) for i in range(1,11)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]